/*********
GENERAL
*********/
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: #ffffff;
}

#wrapperm {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 5%;
	background: #28E800;
}
/*********
HEADING
*********/
header{

	background: #ffffff;
	border-color: #378B2E;
}

header{ float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	}

#logo{
	text-align: center;
	margin: 0;

}

h1, h2 {
		color: #fff;

}

h1 {
		font-family: 'Candal', sans-serif;
		margin: 15px 0 ;
		font-size: 1.75em ;
		font-weight: normal ;
		line-height: 0,8em ;
}
/*********
NAVIGATION
*********/
a {
	text-decoration: none; 
}

nav a{
	background:0; 

}

nav a:hover { 
	color: #32673f;

}
nav a.selected {
      color: #000000;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li{
	display: inline-block;
	}
nav a { 
	font-weight: 800;
	padding: 15px 10px;
	}
/*********
FOOTER
*********/

footer {
	font-size: 0,75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
    color: #000000;
}

.social-icon { width: 30px;
		height: 30px;
		margin: 0 5px;
    	      }

/*********
GENERAL
*********/

img {
      ^max-width: 100% ;
}
#galeria {
      margin: 0; 
      padding: 0;
      list-style: none;
}
#galeria li { float:left;
      width: 45;
      margin: 2,5%; 
      background-color: #f5f5f5; 
      color: #bdc3c7;
}
#galeria li a p { 
      margin: 0;
      padding: 5%; 
      font-size: 0.75em;
      color: #bdc3c7;
      }

/*********
Clase de la foto de la pagina about.html
*********/
.profile-photo { 
	display: block;
	max-width: 800px;
	margin: 0 auto 30px;
	border-radius:100%;
}
.profile-photo2 { 
	display: block;
	max-width: 900px;
	margin: 0 auto 30px;
}
.contact-info {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.9em;
}

.contact-info a {
		/*display: block;*/
		min-height: 20px;
		background-repeat: no-repeat;
		background-size: 20px 20px;
		padding: 0 0 0 30px;
		margin: 0 0 10px;
}

.contact-info li.phone a{
	background-image: url('../img/phone.jpg');
}
.contact-info li.mail a{
	background-image: url('../img/mail.jpg');
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.jpg');
}
