

a {
	text-decoration: none; 
}

nav a{
	background: 

}
header{

	background: #4C2AB3;
	border-color: #B5611D;
}

h1, h2 {
		color: #fff;

}



#logo{
	text-align: center;
	margin: 0;

}


#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: blue;

}